<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>article</title>
    <link rel="stylesheet" href="https://gold-cdn.xitu.io/v3/static/css/app.db5cc9ffc4ff1470eba0c860c8d351a6.css">
    <style rel="stylesheet">
        body > * {
            width: 66vw;
            margin: 0 auto;
        }
        body > h1 {
            text-align: center;
        }
        article > blockquote {
            text-align: right;
        }
    </style>
</head>
<body>
    <h1 class="article-title"><%- title %></h1>
    <article class="article-content"><%- content %></article>
</body>
</html>